.accordians {
  border: var(--border);
  border-radius: var(--border-radius);
}

.accordian--highlight .accordian__header {
  color: var(--color-green);
}
.accordian:not(:last-child) {
  border-bottom: var(--border);
}
.accordian__header {
  padding: 1rem;
}
.accordian__item {
  padding: 1rem 1.7rem;
}
.accordian__item:last-child {
  padding-bottom: 2rem;
}

.accordian__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.accordian__header > *,
.accordian__status {
  display: flex;
  align-items: center;
}
.accordian__content {
  overflow: hidden;
  transition: var(--transition);
}
.accordian__icon {
  margin-right: 0.8rem;
}
.accordian__icon svg {
  display: block;
  width: 20px;
}
.accordian__arrow {
  width: 22px;
  margin-left: 0.6rem;
  transition: var(--transition);
}
.accordian__status {
  color: var(--color-grey);
  font-size: 0.9rem;
}
.accordian__arrow svg {
  display: block;
  fill: var(--color-grey);
}

.accordian--active .accordian__arrow {
  transform: rotate(180deg);
}
