.checkbox {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.checkbox input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox__custom,
.checkbox__label {
  cursor: pointer;
}

.checkbox__custom,
.checkbox__custom svg {
  transition: var(--transition);
}
.checkbox__custom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: 1px solid;
  border-color: var(--color-dark-grey);
  border-radius: 0.3rem;
}
.checkbox__custom svg {
  opacity: 0;
  display: block;
  width: 85%;
  height: 85%;
}
.checkbox__custom svg * {
  stroke: #ffffff;
}
.checkbox input[type='checkbox']:checked ~ .checkbox__custom {
  background-color: var(--color-green);
  border-color: var(--color-green);
}
.checkbox input[type='checkbox']:checked ~ .checkbox__custom svg {
  opacity: 1;
}

.checkbox__label {
  padding-left: 0.8rem;
}
